<footer class="text-white py-5">
<div class="container">
    <div class="row align-items-center justify-content-center">
        <div class="col-md-4">
            <h3>LOCATION</h3>
            <p>2215 John Daniel Drive</p>
            <p>Clark, MO 65243</p>
        </div>
        <div class="col-md-4">
            <h3>AROUND THE WEB</h3>
            <ul class="list-unstyled text-center">
                <li><i class="fa-brands fa-facebook"></i></li>
                <li><i class="fa-brands fa-twitter"></i></li>
                <li><i class="fa-brands fa-linkedin-in"></i></li>
                <li><i class="fa-solid fa-globe"></i></li>
            </ul>
        </div>
        <div class="col-md-4">
            <h3>ABOUT FREELANCER</h3>
            <p >Freelance is a free to use, licensed Bootstrap theme created by Route</p>
        </div>
    </div>
</div>
</footer>
<div class="footer-bottom py-2 text-white d-flex justify-content-center align-items-center">
    <p>Copyright © Your Website 2021</p>
</div>
