<section class="home py-5">
    <div class="container">
        <div class="home-content d-flex flex-column align-items-center">
            <img src="assets/photo/avataaars.svg" alt="avataaars">
            <h2 class="text-white">START FRAMEWORK</h2>
            <div class="icon d-flex my-3">
                <div class="line"></div>
                <i class="fa-solid fa-star text-white mx-3 "></i>
                <div class="line"></div>
            </div>
           
            <p class="text-white">Graphic Artist - Web Designer - Illustrator</p>
            
        </div>
    </div>

</section>